doctype html
html
    head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      title
      // build:css styles/build.css
      // bower:css
      link(rel='stylesheet', href='bower_components/animate.css/animate.css')
      link(rel='stylesheet', href='bower_components/zocial/css/zocial.css')
      // endbower
      // endbuild
    body
      h1 Wrapper
      block content
      // build:js scripts/build.js
      // bower:js
      script(src='bower_components/jquery/dist/jquery.js')
      script(src='bower_components/plax/js/plax.js')
      // endbower
      // endbuild
